  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  body {
    font-family: 'Poppins';
    color: white;
    background: url('/images/grid.png'), black;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body>* {
    font-family: 'Poppins';
  }

  .bar {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }

  .navbar {
    border-bottom: 1px solid #ffffff2e;
  }

  .footer {
    border-top: 1px solid rgba(255, 255, 255, 0.18);
  }



  input {
    @apply rounded-sm mb-5 p-1 text-black
  }

  th, td {
    @apply pl-2 pr-10 py-4
  }

  form, .btn {
    border: 1px solid #ffffff2e;
  }

  label {
    @apply mb-1 text-xs font-semibold text-white font-body
  }

  li {
    @apply cursor-pointer text-center py-3 border-b border-primary-100 w-full hover:text-white hover:backdrop-blur-none
  }

  .active {
    @apply hover:text-white hover:backdrop-blur-none
  }