  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  body {
    font-family: 'Poppins';
    color: white;
    background: url('/images/grid.png'), black;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bar {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }

  .navbar {
    border-bottom: 1px solid #ffffff2e;
  }

  .footer {
    border-top: 1px solid rgba(255, 255, 255, 0.18);
  }

  .heading-texts {
    @apply border-2 cursor-default outline outline-offset-4;
  }

  input {
    @apply rounded-sm mb-5 p-1 text-black
  }

  th, td {
    @apply pl-2 pr-10 py-4
  }

  form, .btn {
    border: 1px solid #ffffff2e;
  }

  label {
    @apply mb-1 text-xs font-semibold
  }